<p>Questa pagina gestisce i nostri utenti.</p>
<hr>
Filtra : <input type="text" ng-model="filtro"> 
<table>
    <thead>
        <tr>
            <th>Id</th>
            <th>Email</th>
            <th>First Name</th>
            <th>Last Name</th>
            <th>Full Name</th>
            <th>Age</th>
        </tr>
    </thead>
    <tbody>
        <tr ng-repeat="user in users | filter:filtro">
            <td>{{$index}}</td>
            <td>{{user.email}}</td>
            <td>{{user.name}}</td>
            <td>{{user.surname}}</td>
            <td>{{user.fullName | uppercase}}</td>
            <td>{{user.age}}</td>
        </tr>
    </tbody>
</table>
